
.git
.vs
.idea
.vscode

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

**/node_modules

**/dist
**/build

.env
**/.env
.venv
**/.venv

**/*.log

**/*.ipynb
**/*.ipynb_checkpoints/**


core_simulator/build/**
core_simulator/install/**
core_simulator/OutputData/**

**/*.dll
**/*.so
**/*.tar
