#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Logic to fix the tabs to the top left of the screen */
.fixed-tabs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}

.content {
    margin-top: 48px; /* Adjust based on the height of your Tabs to avoid content overlay */
}