# This file contains dev overrides for running the service architecture locally
# To supply these overrides, start the services with
#   `docker compose -f docker-compose.yml -f docker-compose.dev.yml up`

x-shared: &shared-dev
  network_mode: "host"
  environment:
    EP_OPTIMISATION_SERVICE_URL: "http://localhost:8761"
    EP_DATA_SERVICE_URL: "http://localhost:8762"
    EP_DATABASE_HOST: "localhost"

services:
  gui:
    <<: *shared-dev

  optimisation:
    <<: *shared-dev

  data:
    <<: *shared-dev

  db:
    image: postgres:latest
    <<: *shared-dev
    volumes:
      - ./elementaldb_tables.sql:/docker-entrypoint-initdb.d/01-elementaldb_tables.sql
      - ./elementaldb_client_info.sql:/docker-entrypoint-initdb.d/02-elementaldb_client_info.sql
      - ./elementaldb_client_meters.sql:/docker-entrypoint-initdb.d/03-elementaldb_client_meters.sql
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: