x-shared: &shared
  environment:
    EP_OPTIMISATION_SERVICE_URL: "http://optimisation:8761"
    EP_DATA_SERVICE_URL: "http://data:8762"
    EP_DATABASE_HOST: "host.docker.internal"

services:
  gui:
    image: ghcr.io/elemental-power-ltd/epoch_gui_test:main
    <<: *shared
    ports:
      - "80:80"
    # We can't start the gui until the data and optimisation services are running
    # As NGINX is unable to resolve service names if they are not running
    depends_on:
      - data
      - optimisation

  optimisation:
    image: ghcr.io/elemental-power-ltd/optimisation_elemental:main
    <<: *shared

  data:
    image: ghcr.io/elemental-power-ltd/data_elemental:main
    environment:
      EP_POSTGRES_PASSWORD_FILE: /run/secrets/EP_POSTGRES_PASSWORD
      EP_VISUAL_CROSSING_API_KEY_FILE: /run/secrets/EP_VISUAL_CROSSING_API_KEY
      EP_RENEWABLES_NINJA_API_KEY_FILE: /run/secrets/EP_RENEWABLES_NINJA_API_KEY
      EP_DATABASE_HOST: "host.docker.internal"
    secrets:
      - EP_POSTGRES_PASSWORD
      - EP_VISUAL_CROSSING_API_KEY
      - EP_RENEWABLES_NINJA_API_KEY
    <<: *shared

secrets:
  EP_POSTGRES_PASSWORD:
    file: ./EP_POSTGRES_PASSWORD_FILE.txt
  EP_VISUAL_CROSSING_API_KEY:
    file: ./EP_VISUAL_CROSSING_API_KEY_FILE.txt
  EP_RENEWABLES_NINJA_API_KEY:
    file: ./EP_RENEWABLES_NINJA_API_KEY_FILE.txt
