# github
.git*
.github
.gitignore
.gitmodules

# Byte-compiled / optimized / DLL files
__pycache__/

# Python
.Python

# mypy
.mypy_cache
pyproject.toml

# pytest
.pytest_cache/
tests/
*/tests/

# vscode
.vscode

# Epoch
#Epoch/
#*/Epoch/
OutputData/
*/OutputData/
InputData/
*/InputData/

# Notebooks
.ipynb
.ipynb_checkpoints

# Epoch
fmt.DLL
python312.DLL
spdlog.DLL
epoch_simulator.cp312-win_amd64.pyd

# data
JSONEload.json
JOSNHload.json
example_package.json