services:
  db:
    image: postgres:latest
    volumes:
      - ./migrations:/migrations:ro
      - ./migrations/copy_up_migrations.sh:/docker-entrypoint-initdb.d/000000-copy-migrations.sh
#      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=python
      - PG_USER=python
      - POSTGRES_PASSWORD=elemental
      - POSTGRES_DB=elementaldb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d elementaldb -U python"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s  
  api:
    image: ep-data-service:latest
    build: .
    ports:
      - "8762:8762"
    depends_on:
        db:
            condition: service_healthy
      
    environment:
      - EP_DATABASE_URL=postgresql://python:elemental@db/elementaldb
      - EP_DATABASE_HOST=db
      - EP_POSTGRES_PASSWORD=elemental
    healthcheck:
      test: ["CMD-SHELL", "curl", "-X", "GET", "http://localhost:8762/"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s  
volumes:
  postgres_data:
  