name: Build EPOCH and Test Optimisation

on:
  push:
    branches: ["**"]
    paths: ["optimisation_service/**", "epoch_simulator/**"]

permissions:
  contents: read
  # we need to allow actions to write to save the vcpkg cache
  actions: write

jobs:
  buildepoch:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install system build prerequisites (with conditional sudo for GH + nektos/act)
        shell: bash
        run: |
            if command -v sudo >/dev/null 2>&1; then SUDO=sudo; else SUDO=; fi
            $SUDO apt-get update
            $SUDO apt-get install -y \
            autoconf automake libtool m4 pkg-config \
            autoconf-archive gawk \
            build-essential \
            linux-libc-dev \
            g++
      - uses: lukka/get-cmake@latest
      - name: Restore vcpkg binary cache
        # workaround for this issue
        # https://github.com/lukka/run-cmake/issues/152
        id: vcpkg-cache-restore
        uses: actions/cache/restore@v4
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: vcpkg-${{ runner.os }}-${{ hashFiles('**/vcpkg.json') }}
          restore-keys: vcpkg-${{ runner.os }}-
      - name: Ensure vcpkg_cache directory exists
        run: mkdir -p ${{ github.workspace }}/vcpkg_cache
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11.5
        with:
          # disable the legacy cache that this action uses
          doNotCache: true
        env:
          VCPKG_BINARY_SOURCES: clear;files,${{ github.workspace }}/vcpkg_cache,readwrite
          VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg_cache
      - name: Run CMake to make python bindings
        uses: lukka/run-cmake@v10
        env:
          # We need these environmental variables set, even if they aren't actually used (???)
          # otherwise CMake complains
          CMAKE_CXX_COMPILER: g++-14
          CMAKE_MAKE_PROGRAM: make
          ACTIONS_RUNTIME_TOKEN: ${{ github.token }}
          # we need to reiterate the cache settings because run-vcpkg overwrites them
          VCPKG_BINARY_SOURCES: clear;files,${{ github.workspace }}/vcpkg_cache,readwrite
          VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg_cache
        with:
          cmakeListsTxtPath: '${{ github.workspace }}/epoch_simulator/CMakeLists.txt'
          configurePreset: 'python-linux'
          configurePresetAdditionalArgs: "['-DCMAKE_POSITION_INDEPENDENT_CODE=ON']"
          buildPreset: 'python-rel-linux'
      - name: Upload Python Library
        uses: actions/upload-artifact@v6
        with:
          name: epoch_simulator
          path: epoch_simulator/build/epoch_py/epoch_simulator.cpython-313-x86_64-linux-gnu.so
          overwrite: true
      
      # This mangles the build directory! so do it after uploading the last artefact.
      - name: Run CMake to make test executable
        uses: lukka/run-cmake@v10
        env:
          CMAKE_CXX_COMPILER: /usr/bin/g++-14
          CMAKE_MAKE_PROGRAM: make
          ACTIONS_RUNTIME_TOKEN: ${{ github.token }}
          VCPKG_BINARY_SOURCES: clear;files,${{ github.workspace }}/vcpkg_cache,readwrite
          VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg_cache
        with:
          cmakeListsTxtPath: '${{ github.workspace }}/epoch_simulator/CMakeLists.txt'
          configurePreset: 'test-linux'
          buildPreset: 'test-linux'
      - name: Upload Test Executable
        uses: actions/upload-artifact@v6
        with:
          name: epoch_simulator_test
          path: build/epoch_test/epoch_test
          overwrite: true

      - name: Save vcpkg binary cache
        if: steps.vcpkg-cache-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v5
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: ${{ steps.vcpkg-cache-restore.outputs.cache-primary-key }}  
  run_opt_tests:
    needs: buildepoch
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version-file: ".python-version"
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.27"
        enable-cache: true
    - name: Install dependencies
      run: uv sync --locked --all-extras --dev
    - name: "Get Epoch simulator artefact"
      uses: actions/download-artifact@v7
      with:
        name: epoch_simulator
        path: ./optimisation_service/
    - name: Install pytest
      run: uv tool install pytest
    - name: Run Pytest
      working-directory: ./optimisation_service/
      run: |
        uv run pytest . -m "not slow"

  test_epoch_simulator:
    needs: buildepoch
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: "Get Epoch simulator artefact"
      uses: actions/download-artifact@v7
      with:
        name: epoch_simulator_test
        path: ./epoch_simulator/epoch_test/
    - name: Run Test
      # For now we set the working-directory to be the test folder
      # this is to allow the tests to read files from this directory
      # (this isn't a good approach and should be fixed)
      working-directory: ./epoch_simulator/epoch_test
      run: ./epoch_simulator/epoch_test/epoch_test
